@media (max-width: 1007px) {
	.main{
		margin: 0 20px;
		width: auto;
	}
	.main_page .cnt > .main {
		margin: 0;
	}
	.cnt_left {
		float: none;
		width: auto;
	}
	.cnt_right {
		float: none;
		width: auto;
		margin: 40px 0 0;
		text-align: center;
		border-top: 8px solid #f2e602;
		padding: 30px 0 0;
	}
	.n_img{
		width: 23%;
	}
	.n_img img{
		width: 100%;
	}
	.n_right {
		float: right;
		width: 73%;
	}
}
@media (max-width: 991px) {
	.line_top ul > li > a {
		padding: 17px 13px 18px;
	}
	.le_title{
		font-size: 16px;
		height: 76px;
	}
	.footer_nav ul > li{
		padding: 0 10px 10px;
	}
	.fib {
		font-size: 0;
		display: inline-block;
		padding: 20px 0 0;
	}
	.fil {
		display: inline-block;
		padding: 20px 0 0;
	}
	.fi {
		display: block;
		margin: 0;
	}
	.list_e li {
		width: 30.33%;
		margin-right: 4.5%;
	}
}
@media (min-width: 768px) {
	.line_top ul{
		display: block !important;
	}
}
@media (max-width: 767px) {
	.line_top ul > li {
		display: block;
		border-top: 1px solid #abbfb4;
	}
	.line_top ul > li > a {
		padding: 15px 20px;
		text-align: left;
	}

	.line_top .main{
		margin: 0;
	}
	.line_bottom{
		display: none;
	}
	.btn_nav{
		display: block;
	}
	.line_top{
		height: 50px;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 3;
	}
	.line_logo {
		padding: 75px 0 35px;
	}
	.line_top ul{
		position: absolute;
		top: 50px;
		left: 0;
		width: 100%;
		background: #079747;
		display: none;
	}
	.line_top li.active a:after{
		display: none;
	}
	.le_title {
		font-size: 16px;
		height: auto;
		overflow: auto;
	}
	.f_soс_reg .f_soc{
		display: block;
	}
	.reg_form {
		display: block;
		vertical-align: top;
		margin: 20px 8px 10px;
	}
	.fil li {
		font-size: 13px;
		display: inline-block;
		margin: 0 10px 10px;
	}
	footer {
		padding: 40px 0;
	}
	.f_soс_reg{
		padding: 20px 0 0;
	}
	.list_e li {
		width: auto;
		float: none;
		margin: 40px 0 0;
	}
	.list_e.with_shadow {
		margin-top: 0;
	}
	.list_e.with_shadow li{
		margin: 40px 0 0;
		box-shadow: none;
	}
	.list_e li:first-child {
		margin: 0 !important;
	}
	.list_e li > div {
		padding: 0;
	}
	.le_img{
		float: left;
		width: 23%;
	}
	.le_img img{
		width: 100%;
	}
	.le_desc{
		float: right;
		width: 73%;
	}
	.as_top_slide{
		padding: 110px 0 50px;
	}
	.top_slider .owl-item .sb_img img{
		width: 50px;
	}
	.logo {
		display: block;
	}
	.logo_desc {
		padding: 20px 15px 0;
	}
	.line_bottom ul > li{
		width: auto;
	}
	.line_bottom ul > li > a {
		padding: 12px 0;
	}	
	.led {
		height: none;
		overflow: auto;
	}
	h1{
		font-size: 26px;
	}
}
@media (max-width: 425px) {
	.cnt {
		padding: 30px 0;
	}
	.le_img img{
		border-width: 5px;
		max-width: 118px;
	}
	.sb_more{
		width: 202px;
		margin-left: 15px;
	}
	.sb_more a{
		font-size: 17px;
	}
	.ld_slogan{
		font-size: 32px;
	}
	.logo img{
		height: 90px;
	}
	.n_img img {
		max-width: 118px;
		border-width: 5px;
	}
	.p_img img{
		border-width: 5px;
	}
}
@media (max-width: 375px) {
	.p_img {
		float: none;
		width: auto;
		margin: 0 0 20px;
	}
	.frow {
		display: block;
		margin: 11px 8px 0;
	}
	.le_img {
		float: none;
		width: auto;
	}
	.le_desc {
		float: none;
		width: auto;
	}
	.n_img {
		width: auto;
		float: none;
	}
	.n_right {
		width: auto;
		float: none;
		padding: 13px 0 0;
	}
}
