@font-face {
	font-family: 'GothamPro';
	src: url('fonts/gothamproregular.eot?#iefix') format('embedded-opentype'),  
		 url('fonts/gothamproregular.woff') format('woff'), 
		 url('fonts/gothamproregular.ttf')  format('truetype'), 
		 url('fonts/gothamproregular.svg#GothamPro') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'GothamPro_Medium';
	src: url('fonts/11031.eot?#iefix') format('embedded-opentype'),  
		 url('fonts/11031.woff') format('woff'), 
		 url('fonts/11031.ttf')  format('truetype'), 
		 url('fonts/11031.svg#GothamPro_Medium') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'GothamPro_Bold';
	src: url('fonts/9781.eot?#iefix') format('embedded-opentype'),  
		 url('fonts/9781.woff') format('woff'), 
		 url('fonts/9781.ttf')  format('truetype'), 
		 url('fonts/9781.svg#GothamPro_Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'TrebuchetMS';
	src: url('fonts/TrebuchetMS.eot?#iefix') format('embedded-opentype'),  
		 url('fonts/TrebuchetMS.woff') format('woff'), 
		 url('fonts/TrebuchetMS.ttf')  format('truetype'), 
		 url('fonts/TrebuchetMS.svg#TrebuchetMS') format('svg');
	font-weight: normal;
	font-style: normal;
}
body{
	background:#fff;
	font-family: TrebuchetMS, Georgia, serif, Helvetica, sans-serif;
	font-size: 15px;
	color: #000;
	margin:0;
	padding:0;
	-webkit-text-size-adjust: none;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
header,footer,article,section,hgroup,nav,figure{
	display:block;
}
button::-moz-focus-inner,
input[TYPE="RESET"]::-moz-focus-inner,
input[TYPE="BUTTON"]::-moz-focus-inner,
input[TYPE="SUBMIT"]::-moz-focus-inner,
input[TYPE="SUBMIT"]::-moz-focus-inner,
input[TYPE="FILE"] > input[TYPE="BUTTON"]::-moz-focus-inner{
	border:none;
}
img{
	border:0;
	max-width: 100%;
}
a{
	transition: 0.2s;
	color: #333232;
}
p{
	margin: 0 0 20px;
	padding: 0;
	line-height: 120%;
}
b,strong{
	font-family: 'GothamPro_Bold';
}
ul li{
	list-style: none;
}
*:focus{
	outline:none;
}
.clear,
.main:after,
.line_top:after,
.list_e:after,
.n_desc:after,
.list_e li > div:after,
.slide_block:after,
.clearfix:after{
	clear:both;
	float:none;
	font-size:0;
	height:0;
	line-height:0;
	margin:0;
	padding:0;
	content: ".";
	visibility: hidden;
	overflow: hidden;
	display: block;
}

/*----------------------------------*/

header{
	border-bottom: 8px solid #f2e602;
}
.main{
	margin: 0 auto;
	width: 1000px;
}
.list_popup{
	display: none;
}

.fancybox-close{
	top: -35px;
    right: -35px;
}
.line_top{
	background: #079747 url(../images/i4.png) right top no-repeat;
	text-align: center;
}
.line_top ul{
	font-size: 0;
}
.line_top ul > li {
	display: inline-block;
}
.line_top ul > li > a{
	padding: 22px 22px 23px;
	display: block;
	color: #fff;
	text-decoration: none;	
	position: relative;
	font-size: 15px;
}
.line_top ul > li > a:hover,
.line_top ul > li.active > a{
	color: #69c067;
}
.line_top li.active a:after{
	display: block;
	content: ".";
	font-size: 0;
	width: 21px;
	height: 11px;
	background: url(../images/i3.png) 0 0 no-repeat;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -10px;
}

.line_bottom{
	background: #80c342 url(../images/i2.png) left top no-repeat;
	text-align: right;
}
.line_bottom ul{
	font-size: 0;
}
.line_bottom ul > li {
	display: inline-block;
	width: 25%;
	text-align: center;
}
.line_bottom ul > li > a{
	padding: 12px 20px;
	display: block;
	color: #fff;
	text-decoration: none;	
	font-size: 15px;
}
.line_bottom ul > li > a:hover,
.line_bottom ul > li.active > a{
	text-decoration: underline;
}

footer{
	background: #333;
	padding: 53px 0 80px;
	color: #858585;
	text-align: center;
}
.footer_nav ul{
	font-size: 0;
	text-align: center;
}
.footer_nav ul > li{
	padding: 0 22px;
	display: inline-block;
	font-family: 'GothamPro_Medium';
}
.footer_nav ul > li a{
	color: #fff;
	opacity: 0.4;
	text-decoration: none;
	font-size: 15px;
}
.footer_nav ul > li a:hover{
	opacity: 0.8;	
	text-decoration: underline;
}
.f_soс_reg{
	font-size: 0;
	text-align: center;
	padding: 30px 0 0;
	font-family: 'GothamPro_Medium';
}
.f_soс_reg .f_soc{
	display: inline-block;
	font-size: 15px;
	font-size: 0;
	vertical-align: top;
}
.f_soс_reg .f_soc li{	
	display: inline-block;
	font-size: 15px;
	margin: 0 8px;
}
.reg_form{
	display: inline-block;
	vertical-align: top;
	margin: 0 8px;
}
.reg_form input[type="text"]{
	font-size: 17px;
	padding: 5px 15px;
	background: none;
	border: 2px solid #858585;
	color: #fff;
	opacity: 0.8;
	border-radius: 50px;
	width: 240px;
}
.reg_form input[type="submit"]{
	border: 0;
	font-size: 17px;
	padding: 5px 15px;
	background: url(../images/s.png) center center no-repeat;
	color: #fff;
	opacity: 0.8;
	border-radius: 50px;
	width: 34px;
	height: 34px;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 0;
}
.irow{
    display: inline-block;
    color: #fff;
    vertical-align: top;
    margin: 0 8px;
	position: relative;
}
.frow{
    display: inline-block;
    color: #fff;
    vertical-align: top;
    margin: 6px 8px 0 20px;
}
.frow a{
	font-size: 15px;
	opacity: 0.4;
	color: #fff;
}
.frow a:hover{
	opacity: 0.8;
}
.fi{
	display: inline-block;
	margin: 0 40px 0 0;
}
.fib{
	font-size: 0;
	display: inline-block;
}
.fil{
	display: inline-block;
}
.fil li{
	font-size: 13px;
	display: inline-block;
	margin: 0 11px;
	color: #fff;
	font-family: 'GothamPro_Medium';
}
.fil li a{
	color: #fff;
	font-size: 13px;
	opacity: 1;
	text-decoration: underline;
	font-family: 'GothamPro';
}
.fil li a:hover{
	opacity: 1;
}
.copy{
	font-size: 11px;
	color: #fff;
	opacity: 0.4;
	padding: 30px 0 0;
}
.line_logo{
	text-align: center;
	padding: 25px 0;
}
.logo{
	vertical-align: middle;
	display: inline-block;
}
.logo_desc{
	display: inline-block;
	vertical-align: middle;
	padding: 0 15px;
}
.ld_slogan{
	font-family: 'GothamPro_Medium';
	font-size: 46px;
	text-transform: uppercase;
}
.ld_cm{
	font-family: 'GothamPro_Medium';
	font-size: 14px;
	text-transform: uppercase;
	padding: 10px 0 0;
}
.as_top_slide{
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	padding: 150px 0 70px;	
}
.top_slider .owl-item img{
	display: inline-block;
	width: auto;
}
.owl-theme .owl-dots .owl-dot span{
	border: 2px solid #fff;
	width: 14px;
	height: 14px;
	background: rgba(0,0,0,0.4);
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
	background: #f2e602;
}
.owl-theme .owl-controls{
	margin-top: 0;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    position: absolute;
    top: 20px;
    width: 100%;
}
.sb_img{
	display: inline-block;
	vertical-align: middle;
}
.sb_more{
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;
	max-width: 280px;
	line-height: 150%;
}
.sb_more a{
	font-family: 'GothamPro_Medium';
	font-size: 24px;
	color: #000;
	text-decoration: underline;
}
.sb_more a:hover{
	color: #079747;	
}
.cnt{
	padding: 58px 0;
	position: relative;
	z-index: 2;
}
.main_page .cnt{
	padding: 0;
}
.main_page .cnt > .main{
	width: auto;
}
.shadow{
	background: url(../images/shadow.png) center center no-repeat;
    background-size: 100%;
    width: 1030px;
    height: 188px;
    margin-top: -65px;
	margin-left: -15px;
    z-index: 2;
    position: relative;
}
.e_block.with_bg{
	background: #ececec;
}
.list_e.with_shadow{
	margin-top: -30px;
}
.list_e.with_shadow li{
	background: #fff;
	margin-top: -30px;
    box-shadow: 0px -14px 24px rgba(0, 0, 0, 0.15);
}
.list_e li{
    width: 29.33%;
    margin-right: 6%;
    float: left;
}
.list_e li:nth-child(3n){
	margin-right: 0;
}
.list_e li:nth-child(3n+1){
	clear: both;
}
.list_e li > div{
	padding: 23px 23px 0;
}
.le_title{
	font-size: 18px;
	line-height: 120%;
	height: 63px;
    overflow: hidden;
}
.le_title a{
	color: #000;
	text-transform: uppercase;
	font-family: 'GothamPro_Bold';
	text-decoration: none;
}
.le_img{
	margin: 18px 0 0;
}
.le_img img{
	border: 8px solid #f2e602;
}
.le_desc{
	font-size: 13px;
	padding: 15px 0 0;
}
.le_desc a{
	color: #079747;
}
.le_desc a:hover{
	color: #000;
}
.le_desc p:last-child{
	margin: 0;
}
.le_more span{
	display: inline-block;
	padding-right: 10px;
	color: #999;
}
.e_block{
	padding: 30px 0
}
.l_btn{
	text-align: center;
	padding: 30px 0 0;
}
.btn{
	font-family: 'GothamPro_Medium';
	background: #079747 url(../images/btn.png) right center no-repeat;
	border: 0;
	padding: 17px 42px;
	border-radius: 50px;
	color: #fff;
	text-decoration: none;
	display: inline-block;
}
.btn:hover{
	background-color: #11a653;
}
.btn:active{
	background-color: #068940;
}
.le_more{
	padding: 20px 0 0;
}
.led {
	height: 30px;
	overflow: hidden;
}
.led p:last-child{
	margin: 0;
}
.btn_nav{
	display: block;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0;
	right: 0;
	display: none;
	line-height: 50px;
	text-align: center;
}
.ic_nav{
    vertical-align: top;
    display: inline-block;
    width: 25px;
    height: 24px;
    margin: 10px 0 0 -3px;
    fill: #fff;
}
.ic_close{
	display: none;
    vertical-align: top;
    width: 20px;
    height: 20px;
    margin: 15px 0 0 -1px;
    fill: #fff;
}
.line_top.active .ic_nav{
	display: none;
}
.line_top.active .ic_close{
	display: inline-block;
}
#Shape{
	fill: #fff;
}
.n_title a{
	color: #000;
	font-family: 'GothamPro_Bold';
	font-size: 18px;
	text-decoration: none;
	text-transform: uppercase;
}

.cnt_left{
	float: left;
	width: 700px;
}
.cnt_right{
	float: right;
	width: 250px;
}
.n_img{
	float: left;
	width: 160px;
}
.n_img img{
	border: 8px solid #f2e602;
}
.n_right{
	float: right;
	width: 540px;
}
.list_news li{
	margin-top: 50px;
}
.list_news li:first-child{
	margin-top: 0px;
}
.n_desc{
	padding: 20px 0 0;
}
.n_info{
	font-size: 14px;
	color: #333;
}
.n_more{
	padding: 17px 0 0;
}
.n_more span{
	display: inline-block;
	padding: 0 10px 0 0;
	color: #999;
	font-size: 13px;
}
.n_more a{
	color: #079747;
	text-decoration: underline;
	font-size: 13px;
}
.n_more a:hover{
	color: #000;
}
.ttl{
	color: #000;
	font-family: 'GothamPro_Bold';
	font-size: 18px;
	text-decoration: none;
	text-transform: uppercase;	
}
.wj{
	margin: 27px 0 0;
}
.p_img{
	float: right;
	width: 25%;
	margin: 0 0 10px 25px;
}
.p_img img{
	border: 8px solid #f2e602;
	width: 100%;
}
h1{
	color: #000;
	font-family: 'GothamPro_Bold';
	font-size: 18px;
	text-decoration: none;
	text-transform: uppercase;	
	font-size: 36px;
	margin: 0 0 15px;
}
.p_text{
	padding: 20px 0 0;
}
